<h1>Discuss</h1>

<h3><%=@movie[0].title%></h3>

<div><img src="<%=@movie[0].poster%>" alt="<%=@movie[0].title%>" height="300" width="200"/></div>

<div style="width:70%"><%=@movie[0].plot_synopsis%></div>
