<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Movie Lovers Unite!</title>
  </head>
  <header><h1>Movie Lovers Unite!</h1></header>
  <body>
    <p>Find movies related to your key word</p>
    <form action="/search" method="post">
    <input type="text" name="search_term" placeholder="Word to Search" size=50 >
    <button type="submit" name="search">SEARCH</button>
    </form>

    <!-- push button to search with random word  -->

  </body>
</html>
