<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Loser</title>
  </head>
  <body>
    <h1>Loser poser</h1>
    <p>
      Sorry, the correct answer was "<%=@newlist[0].title%>"</p>

      <div>
        <a href="/" >Play Again?</a>
      </div>
  </body>
</html>
