<head>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
  <h1>My First Sinatra App</h1>
  <body>
    <b>Author:</b>
    J-dawg Ironnuts
  </body>

<% g = "the"%>
  <%  if g == "the" %>
    <p style="color:blue">
      string!!!!
    </p>
  <%end%>
