<!DOCTYPE html>
<html>
<head>
  <title>Log on</title>
</head>
<body>
  <!-- <img src="kitten.jpg" alt="cat" style="width:200px;height:200px;"> -->
  <h1>Login</h1>

  <form action="/receiveing_info" method="POST">
  <input type="text" name ="username" placeholder="Username">
  <input type="text" name ="password" placeholder="Password">

  <button type="submit" name="credentials" value="user">LOGIN</button>
  </form>


</body>
</html>
